#search {
   
    left: 0;
    position: absolute;
    text-align: center;
    top: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    
}


.search {
    border-radius: 18px;
    border:none;
    padding: 15px;
}

.button {
    border: none;
    color: black;
    border-radius: 12px;
    padding: 5px;
}